.additional {
  position: relative;
  padding-top: 13px;
  padding-bottom: 19px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: $tablet) {
    border: 1px solid #ebebeb;
    padding: 26px 38px;
    grid-template-columns: auto 200px 93px;
  }
}

.additional__link {
  grid-column: 1/-1;
  text-decoration: none;

  @media (min-width: $tablet) {
    grid-column: 1;
  }
}

.additional__title {
  @include font($sec-font, $pr-font-style, $pr-font-weight, 16px, 16px, #222222);
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 13px;

  @media (min-width: $tablet) {
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 20px;
  }
}

.additional__quantity {
  @include font($pr-font, $pr-font-style, $pr-font-weight, $pr-font-size, 14px, $pr-color);
  padding-bottom: 15px;

  @media (min-width: $tablet) {
    margin-top: 3px;
    justify-self: end;
    font-size: 16px;
    line-height: 20px;
  }
}

.additional__price {
  @include font($pr-font, $pr-font-style, $pr-font-weight, $pr-font-size, 14px, $pr-color);
  justify-self: end;
  padding-bottom: 15px;

  @media (min-width: $tablet) {
    margin-right: 2px;
    font-size: 16px;
    line-height: 20px;
  }
}

.additional__button {
  display: block;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  grid-row: 3;
  grid-column: 1/-1;

  @media (min-width: $tablet) {
    grid-row: 2;
    grid-column: -1/1;
  }
}
