.contacts__text {
  display: flex;
  max-width: 320px;
  margin: 0 auto;
  margin-bottom: 26px;
  padding: 26px 20px 0;
}

.contacts__title {
  @include font($sec-font, $pr-font-style, $pr-font-weight, 16px, 20px, #111111);
  width: 140px;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__address {
  @include font($pr-font, $pr-font-style, $pr-font-weight, $pr-font-size, 20px, $pr-color);
  align-self: flex-end;
  width: 140px;

  @media (min-width: $tablet) {
    font-size: 16px;
  }
}

.contacts--secondary {
  background-color: #f2f2f2;
}

.contacts__img {
  display: block;
  width: 100%;
}
