.example__title {
  @include font($sec-font, $pr-font-style, $pr-font-weight, 36px, 40px, #000000);
}

.example__description {
  @include font($pr-font, $pr-font-style, $pr-font-weight, $pr-font-size, $pr-line-height, $pr-color);
}

.example__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.example__result {
  @include font($sec-font, $pr-font-style, $pr-font-weight, 24px, 24px, #000000);
  text-transform: uppercase;
}

.example__text {
  @include font($pr-font, $pr-font-style, $pr-font-weight, 12px, 12px, $pr-color);
  text-transform: lowercase;
}

.example__price {
  @include font($sec-font, $pr-font-style, $pr-font-weight, $pr-font-size, 20px, #000000);
  text-transform: uppercase;
}

.example__slider {
  display: block;
  position: relative;
  padding: 0;
  border: none;
  width: 4px;
  height: 256px; //заменить на 100% после сеток
  background-color: #666666;
  cursor: pointer;
  margin-left: 138px; //заменить после сеток
}

.example__slider:hover {
  background-color: $sec-bg;
}

.example__slider:hover::before {
  border-color: $sec-bg;
}

.example__slider:hover::after {
  background-color: $sec-bg;
}

.example__slider::before {
  content: "";
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  border: 2px solid #666666;
  border-radius: 50%;
  background-color: #ffffff;
  top: 50%;
  left: -17px;
  transform: translateY(-50%);
}

.example__slider::after {
  content: "";
  display: block;
  position: absolute;
  width: 24px;
  height: 18px;
  mask-image: url("../../icons/stack.svg#triangles");
  background-color: #666666;
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
}

@media (min-width: $tablet) {
  .example__title {
    @include font($sec-font, $pr-font-style, $pr-font-weight, 60px, 60px, #000000);
  }

  .example__description {
    @include font($pr-font, $pr-font-style, $pr-font-weight, 16px, 24px, $pr-color);
  }

  .example__result {
    @include font($sec-font, $pr-font-style, $pr-font-weight, 30px, 37px, #000000);
    text-transform: uppercase;
  }

  .example__text {
    @include font($pr-font, $pr-font-style, $pr-font-weight, 14px, 14px, $pr-color);
  }

  .example__price {
    @include font($sec-font, $pr-font-style, $pr-font-weight, 20px, 20px, #000000);
  }
}

@media (min-width: $desktop) {
  .example__title {
    @include font($sec-font, $pr-font-style, $pr-font-weight, 60px, 60px, #000000);
  }

  .example__description {
    @include font($pr-font, $pr-font-style, $pr-font-weight, 16px, 24px, $pr-color);
  }

  .example__result {
    @include font($sec-font, $pr-font-style, $pr-font-weight, 30px, 37px, #000000);
    text-transform: uppercase;
  }

  .example__text {
    @include font($pr-font, $pr-font-style, $pr-font-weight, 14px, 14px, $pr-color);
  }

  .example__price {
    @include font($sec-font, $pr-font-style, $pr-font-weight, 20px, 20px, #000000);
  }
}
