.product {
  position: relative;
  padding-top: 20px;
  padding-bottom: 25px;
}

.product::after {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: -20px;
  width: calc(100% + 40px);
  height: 1px;
  background-color: #ebebeb;
}

.product__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 17px;
}

.product__link {
  text-decoration: none;
}

.product__title {
  @include font($sec-font, $pr-font-style, $pr-font-weight, 16px, 20px, #222222);
  max-width: 76px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 14px;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 24px;
  }
}

.product__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.product__item {
  @include font($pr-font, $pr-font-style, $pr-font-weight, 12px, 16px, #444444);
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 20px;
  }
}

.product__button {
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}
